<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
 
  <test name="Regression">
  <parameter name="userName" value="md83shahnewaz@gmail.com" />
  <parameter name="passWord" value="Shahnewaz1@" />
    <classes>
      <class name="TestCases.UserAbleToClickOnAddToCard"/>
      <class name="TestCases.ElementVerification"/>
    </classes>
  </test>
</suite>
